USE [master]
GO
/****** Object:  Database [HomeBudget]    Script Date: 5/14/2018 12:14:32 AM ******/
CREATE DATABASE [HomeBudget]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HomeBudget', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\HomeBudget.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HomeBudget_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS2012\MSSQL\DATA\HomeBudget_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 COLLATE Cyrillic_General_100_CI_AS_KS
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HomeBudget].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HomeBudget]
GO
/****** Object:  Table [dbo].[Cost]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cost](
	[IdCost] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[RefCriteriaValueCostType] [int] NULL,
	[Amount] [float] NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Cost] PRIMARY KEY CLUSTERED 
(
	[IdCost] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[IdCriteria] [int] IDENTITY(1,1) NOT NULL,
	[CodeCriteria] [nvarchar](max) COLLATE Cyrillic_General_100_CI_AS_KS NULL,
	[IsActive] [bit] NULL,
	[SequenceOrder] [int] NULL,
	[RefLabelCriteriaName] [int] NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Criteria] PRIMARY KEY CLUSTERED 
(
	[IdCriteria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CriteriaValue]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriteriaValue](
	[IdCriteriaValue] [int] IDENTITY(1,1) NOT NULL,
	[CodeCriteriaValue] [nvarchar](max) COLLATE Cyrillic_General_100_CI_AS_KS NULL,
	[IsActive] [bit] NULL,
	[SequenceOrder] [int] NULL,
	[RefCriteria] [int] NULL,
	[RefLabelCriteriaValueName] [int] NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_CriteriaValue] PRIMARY KEY CLUSTERED 
(
	[IdCriteriaValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Label]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Label](
	[IdLabel] [int] IDENTITY(1,1) NOT NULL,
	[CodeLabel] [nvarchar](max) COLLATE Cyrillic_General_100_CI_AS_KS NULL,
	[IsActive] [bit] NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Label] PRIMARY KEY CLUSTERED 
(
	[IdLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LabelTranslation]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LabelTranslation](
	[IdLabelTranslation] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NULL,
	[RefLabel] [int] NULL,
	[RefCriteriaValueLanguage] [int] NULL,
	[Value] [nvarchar](max) COLLATE Cyrillic_General_100_CI_AS_KS NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_LabelTranslation] PRIMARY KEY CLUSTERED 
(
	[IdLabelTranslation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Version]    Script Date: 5/14/2018 12:14:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Version](
	[IdVersion] [int] NOT NULL,
	[FileName] [nvarchar](max) COLLATE Cyrillic_General_100_CI_AS_KS NULL,
	[DateTimeCreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Version] PRIMARY KEY CLUSTERED 
(
	[IdVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
